exec xcompmgr -c -f -n &
exec redshift-gtk &
exec slstatus &
exec feh --bg-fill ~/Wallpaper/dwm_d77.png &
exec dunst &
exec cbatticon &
exec octoxbps-notifier &
exec volumeicon &
exec nm-applet &
exec synclient TapButton1=1 &
exec synclient TapButton2=3 &
exec synclient TapButton3=2 &
