[Desktop Entry]
Type=Application
Version=1.0
Name=d77-welcome
Icon=xterm-color_48x48
Exec=d77-welcome
Terminal=true
Categories=System;Monitor;ConsoleOnly;
Keywords=system;process;task
